* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input,
textarea {
  display: block;
  max-width: 300px;
  margin: 0.5rem 0;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

nav a {
  font-weight: bold;
  margin: 0 0.5rem;
  text-decoration: underline;
}

.toolbar {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.custom-hr {
  visibility: hidden;
}

.click {
  cursor: pointer;
}

.modal-bg {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #232323dd;
}

.modal-card {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.hide-component {
  visibility: hidden;
}
